.place-Card {
  /* background-color: rgba(168, 164, 164, 0.2); */
  width: 400px;
  height: 350px;
  text-align: center;
  border-radius: 20px;
  margin-top: 0;
  /* float: left; */
  margin-left: 40%;
  border: 1px solid black;
}
.Card-Img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.para {
  font-size: larger;
  font-family: ubuntu;
  text-align: justify;
  margin-left: 5%;
}
.name {
  background-color: brown;
  color: aliceblue;
}
.card-btn {
  background-color: aliceblue;
  color: black;
}
.vission {
  background-color: brown;
  color: aliceblue;
  padding: 5px;
  width: fit-content;
  margin-left: 5%;
}
.mission {
  background-color: brown;
  color: aliceblue;
  padding: 5px;
  width: fit-content;
  margin-left: 5%;
}
.TAPO {
  background-color: brown;
  color: aliceblue;
  padding: 8px;
  width: fit-content;
  margin-left: 5%;
}
