.main {
  display: inline-block;
}
.card {
  border: none;
  outline: none;
  margin: 10px;
}
.img {
  width: 200px;
  height: 200px;
  margin-top: 20px;
}
.title {
  color: tomato;
}
.desc {
  background-color: rgba(0, 0, 0, 0.5);
  color: whitesmoke;
  border-radius: 50px;
  transition: ease-in-out 0.5s;
}
.desc:hover {
  background-color: tomato;
}
.buttons {
  background-color: rgba(0, 0, 0, 0.5);
  color: aliceblue;
  padding: 5px;
  transition: ease-in-out 1s;
}
.buttons:hover {
  background-color: tomato;
}
