.container {
  position: absolute;
  left: 25%;
  top: 12%;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}
.image2 {
  border-radius: 50%;
  width: 40%;
  height: auto;
  position: absolute;
  top: 28%;
  left: 59%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  transition: 0.5s ease-in-out;
  background-color: #008cba;
}

.container:hover .overlay {
  opacity: 0.9;
}

.text {
  color: white;
  /* background-color: rgb(117, 116, 116, 0.5); */
  font-family: cursive;
  font-size: 30px;
  position: absolute;
  top: 46%;
  left: 1%;
  /* -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
  text-align: center;
}
