.adm-form {
  text-align: justify;
}
.ExamName {
  border: none;
  border-bottom: dotted;
  outline: none;
}
.head {
  background-color: rgba(112, 153, 42, 0.616);
  color: black;
}
.second-Head {
  float: right;
  margin-right: 40px;
}
.sig-parent {
  float: left;
  font-family: cursive;
  margin-left: 20px;
}
.sig-student {
  float: right;
  font-family: cursive;
  margin-right: 20px;
}
.dotted {
  border-style: dotted;
  width: 100%;
}
.fee-p {
  text-align: center;
}
.fee-table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}
.fee-tableHead {
  background-color: rgba(132, 170, 67, 0.616);
  border: 1px solid black;
  padding: 15px;
}

.fee-tableData {
  border: 1px solid black;
  padding: 15px;
}
.table-input {
  border: none;
  border-bottom: none;
  outline: none;
}
.sub-head {
  float: right;
}
