.adm-form {
  text-align: justify;
  font-family: ubuntu;
}
.head {
  background-color: aquamarine;
  color: black;
}
.second-Head {
  float: right;
  margin-right: 40px;
}
.sig-parent {
  float: left;
  font-family: cursive;
  margin-left: 20px;
}
.sig-student {
  float: right;
  font-family: cursive;
  margin-right: 20px;
}
.dotted {
  border-style: dotted;
  width: 100%;
}
