.adm-form {
  text-align: justify;
  font-family: ubuntu;
}
.ExamName {
  border: none;
  border-bottom: dotted;
  outline: none;
}
.head {
  background-color: aquamarine;
  color: black;
}
.second-Head {
  float: right;
  margin-right: 40px;
}
.sig-parent {
  float: left;
  font-family: cursive;
  margin-left: 20px;
}
.sig-student {
  float: right;
  font-family: cursive;
  margin-right: 20px;
}
.dotted {
  border-style: dotted;
  width: 100%;
}
.fee-p {
  text-align: center;
}
table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}
th {
  background-color: aquamarine;
  border: 1px solid black;
  padding: 15px;
}

td {
  border: 1px solid black;
  padding: 15px;
}
.table-input {
  border: none;
  border-bottom: none;
  outline: none;
}
