.tab {
  border-collapse: collapse;
  width: 60%;
  text-align: center;
  border: 2px solid black;

  position: absolute;
  left: 22%;
  top: 38%;
}
.head {
  background-color: brown;
  color: aliceblue;
}
.stats-head {
  padding: 15px;
}
