.tab {
  border-collapse: collapse;
  width: 60%;
  text-align: center;
  border: 2px solid black;

  position: absolute;
  left: 22%;
  top: 38%;
}
.head {
  background-color: brown;
  color: aliceblue;
}
.stats-head {
  padding: 15px;
}
.place {
  /* background: rgb(163, 162, 162, 0.5); */
  border-radius: 20px;
  width: 900px;
  height: 400px;
  margin: auto;
  margin-top: 5%;
}
