.tab {
  border-collapse: collapse;
  width: 50%;
  height: 100px;
  text-align: center;
  padding: 50px;
  border: 1px solid black;
  position: absolute;
  left: 25%;
  top: 35%;
}
.head {
  background-color: brown;
  color: aliceblue;
  padding: 30px;
}
