.tab2 {
  border-collapse: collapse;
  width: 50%;
  height: 100px;
  text-align: center;
  padding: 5px;
  border: 1px solid black;
  position: absolute;
  left: 25%;
  top: 5%;
}
.head {
  background-color: brown;
  color: aliceblue;
}
